body {
    background: linear-gradient(to bottom, #141414,#303030);
    margin: 0;
    overflow: hidden;
    height: 100em;
    width: 100%;
}

.header {
    background-color: #2d3541;
    height: 2em;
    width: 100%;
    margin-bottom: 2.5em;
}

.header-text {
    font-variant: small-caps;
    font-size: 1.5em;
    text-align: center;
    text-decoration: underline;
    font-style: oblique;
    color: #d6ceff;
}

.links {
    margin: auto;
    color: #d6ceff;
    text-align: center;
    padding: 1em;
    gap: 1em;
}

.photos {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5em;
    gap: 1em;
}

.embedded {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
a {
    color: inherit;

}
