
html,body{
  display: grid;
  height: 100%;
  place-items: center;
  background-color: #52b8e0;
}
.wrapper{
  width: 450px;
  height: 500px;
  background-color: #14815d;
  position: relative;
  box-shadow: 0 5px 10px rgba(0,0,0,0.25);
  border: 12px solid #097969;
  transform-style: preserve-3d;
  transform: perspective(2500px);
}
.wrapper img{
  width: 100%;
  height: 100%;
  background-size: cover;
}
.door {
    position: absolute;
    background-color:#14815d;
    width: 50%;
    height: 100%;
    border:1px solid #000;
    transition: all 1s;
}
.door1 {
    left:0;
    top:0;
    transform-origin: left;;
}
.door2 {
    left:223px;
    top:0;
    transform-origin: right;
}

.wrapper:hover .door1{

    transform: rotateY(-150deg);

}

.wrapper:hover .door2{

    transform: rotateY(150deg);

}