body {
    background-color: rgb(168, 168, 168);
    margin: 0;
    padding-top: 0%;
    overflow: visible;
}

.header {
    background-color: rgb(72, 84, 100);
    text-align: center;
    margin-bottom: 1em;
    border-color: rgb(20, 24, 29);
    border-width: 3px;
    border-style: solid;
}

.header-text {
    font-size: 40px;
    font-family: 'Lucida Sans';
    color: rgb(170, 200, 238);
    text-shadow: 2px 2px black;
    margin: auto;
}

#playerStatus {
    font-family: 'Lucida Sans';
    text-align: center;
    font-size: 40px;
    color: rgb(170, 200, 238);
    text-shadow: 2px 2px black;
    background-color: rgb(72, 84, 100);
    border-color: rgb(20, 24, 29);
    border-width: 3px;
    border-style: solid;
    width: 25%;
    margin: auto;
    margin-bottom: 0.5em;
}

.gameBoardBackground {
    position: relative;
    width: 40em;
    height: 40em;
    background-color: rgb(72, 84, 100);
    margin: auto;
    border-color: rgb(20, 24, 29);
    border-width: 3px;
    border-style: solid;
}

.resetButton {
    margin: auto;
    border-color: rgb(20, 24, 29);
    border-width: 3px;
    border-style: solid;
    text-align: center;
    font-family: 'Lucida Sans';
    background-color: rgb(170, 200, 238);
    display: grid;
    align-items:center;
    font-size: 2em;
}

.resetButton:hover{
    color: white;
    background-color:  rgb(51, 70, 94);
    cursor: pointer;
    transition: 0.7s;
}

.scoreBox {
    display: flex;
    text-align: center;
    width: 6em;
    height: 1.2em;
    margin: auto;
    font-size: 3em;
    border-color: rgb(20, 24, 29);
    border-width: 3px;
    border-style: solid;
}

#Box1 {
    background-color: rgb(100, 57, 255);
    margin: auto;
    width: 50%;
}

#Box2 {
    background-color: rgb(255, 39, 39);
    margin: auto;
    width: 50%;
}


#board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10.5px;
    position: relative;

}

.cell {
    width: 98%;
    height: 1.156em;
    background: white;
    border: 2px solid #333;
    font-size: 11em;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    user-select: none;
    
}

.cell:active {
    background-color: #ddd;
}

@media (max-width: 600px) {
    .cell {
        width: 80px;
        height: 80px;
        font-size: 1.5em;
    }
}