body {
    background-color: darkslategrey;
}

.wheel-background {
    height: 20em;
    width: 20em;
    background-color: black;
    border-radius: 50%;
    border-color: white;
    border-width: .5em;
    border-style: solid;
    box-shadow: 0 0 0 .3em #000;
}

.triangle {
    height: 1em;
    width: 1em;
    clip-path: polygon(50% 0, 100% 100%, 0 100%);
    background-color: white;
    margin: auto;
    margin-bottom: .2em;
    transform: scaleY(-1);
}

.spin-button-location {
    text-align: center;
    margin-top: 2em;
}

.actual-button {

    cursor: pointer;
    background-color: rgb(200, 200, 226);
    box-shadow: 0 0 0 .1em #000;
    color: black;
    height: 2em;
}


.wheel-color {
    transition:transform 4s ease-out; will-change: transform;
    background: conic-gradient(red 0deg 45deg, orange 45deg 90deg, yellow 90deg 135deg, green 135deg 180deg, blue 180deg 225deg, purple 225deg 270deg, pink 270deg 315deg, white 315deg 360deg);
    height: 19.8em;
    width: 19.8em;
    border-radius: 50%;
    position: absolute;
}

.wheel {
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: .5em;
}

.output-box {
    height: 3em;
    width: 15em;
    text-align: center;
    background-color: white;
    margin-top: 2em;
    border-color: #000;
    border-width: .2em;
    border-style: solid;
    border-radius: 5%;
     margin: auto;
}

.past-outcomes {
    height: auto;
    width: 15em;
    text-align: center;
    background-color: white;
    margin-top: 2em;
    border-color: #000;
    border-width: .2em;
    border-style: solid;
    border-radius: 5%;
    margin: auto;
}

.boxes {
    width: 3em;
    width: 30em;
    position: absolute;
    display: inline-flex;
    left:28em;
    margin-top: 2em;
    gap: 1em;
    
}